<script>
    function closeModal() {
        closeButton = document.querySelector(".close-account-modal");
        closeButton.click();
    }

    if (typeof window.linkHandler === "undefined") {
        window.linkHandler = Plaid.create({
            token: "{{ link_token }}",
            onSuccess: (public_token, metadata) => {
                fetch("{% url 'exchange_plaid_token' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                    body: `public_token=${public_token}`
                });
                closeModal();
            },
            onExit: (err, metadata) => {
                console.log(err);
                console.log(metadata);
                console.log("Exited");
                closeModal();
            },
            onEvent: (eventName, metadata) => {
                console.log("onEvent", eventName, metadata);
                if (eventName === "HANDOFF") {
                    console.log('Handoff event received. Closing modal...');
                    console.error('TODO: IMPLEMENT THIS PART - send handoff data to backend to create the account')
                    closeModal();
                }
            },
        });
    }
    window.linkHandler.open();
</script>
