<script>
  function closeModal() {
    closeButton = document.querySelector(".close-account-modal");
    closeButton.click();
  }

  if (typeof window.linkHandler === "undefined") {
    window.linkHandler = Plaid.create({
      token: "{{ link_token }}",
      onSuccess: (public_token, metadata) => {
        // Send the public_token to your app server.
        $.post("{% url 'exchange_plaid_token' %}", {
          public_token: public_token,
        });
      },
      onExit: (err, metadata) => {
        // Optionally capture when your user exited the Link flow.
        console.log(err);
        console.log(metadata);
        console.log("Exited");
        closeModal();
      },
      onEvent: (eventName, metadata) => {
        // Optionally capture Link flow events, streamed through
        // this callback as your users connect an Item to Plaid.
        console.log("onEvent", eventName, metadata);
        if (eventName === "HANDOFF") {
          // TODO: save data to server.
          closeModal();
        }
      },
    });
  }
  window.linkHandler.open();
</script>
